<div class="container">
  <h2>Create Product</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="product-form">
    <div class="grid grid-cols-2 gap-3 justify-content-between">
      <div class="w-full">
        <p-floatlabel>
          <input
            pInputText
            id="over_label"
            formControlName="name"
            autocomplete="off"
            class="w-full"
          />
          <label for="name">Product Name</label>
        </p-floatlabel>
        @if(productForm.get('name')?.invalid &&
        productForm.get('name')?.touched){
        <p-message severity="error" variant="simple">*name required</p-message>
        }
      </div>
      <div class="w-full">
        <p-floatlabel>
          <input
            pInputText
            id="over_label"
            formControlName="code"
            autocomplete="off"
            class="w-full"
          />
          <label for="code">Code</label>
        </p-floatlabel>
        <p-message
          *ngIf="
            productForm.get('code')?.hasError('required') &&
            productForm.get('code')?.touched
          "
          severity="error"
          variant="simple"
        >
          *Code required
        </p-message>
      </div>
    </div>

    <p-inputnumber
      formControlName="price"
      inputId="currency-us"
      mode="currency"
      currency="USD"
      locale="en-US"
    />
    @if(productForm.get('price')?.invalid && productForm.get('price')?.touched){
    <p-message severity="error" variant="simple">*price required</p-message>
    }

    <label for="description">Description</label>
    <p-editor formControlName="description" [style]="{ height: '320px' }">
      <ng-template #header>
        <span class="ql-formats">
          <button type="button" class="ql-bold" aria-label="Bold"></button>
          <button type="button" class="ql-italic" aria-label="Italic"></button>
          <button
            type="button"
            class="ql-underline"
            aria-label="Underline"
          ></button>
        </span>
      </ng-template>
    </p-editor>

    <p-fileUpload
      #fileUpload
      name="image"
      [customUpload]="true"
      (uploadHandler)="onFileChange($event)"
      [accept]="'image/png,image/jpeg'"
      [maxFileSize]="1048576"
      [auto]="false"
      [showUploadButton]="false"
      [showCancelButton]="false"
      chooseLabel="Select Image"
      mode="advanced"
    >
      <ng-template #empty>
        <div style="padding: 1rem; border: 2px dashed #ccc; text-align: center">
          Drag and drop an image here or click to select
        </div>
      </ng-template>

      <div *ngIf="selectedImageBase64" style="margin-top: 1rem">
        <p>Preview:</p>
        <img
          [src]="selectedImageBase64"
          alt="Preview"
          style="max-width: 200px; max-height: 200px"
        />
      </div>

      <div *ngIf="errorMessage" style="color: red; margin-top: 0.5rem">
        {{ errorMessage }}
      </div>
    </p-fileUpload>

    @if(productForm.get('image')?.invalid &&
    productForm.get('image')?.touched){
    <p-message severity="error" variant="simple">*Image  required</p-message>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
