.container {
  max-width: 600px;
}

.alert {
  margin-bottom: 20px;
}

.form-control.is-invalid {
  border-color: #dc3545;
}
.form-label{
  font-weight: bold;
  color:red
}

.invalid-feedback {
   
  display: none;
  color:red,
}

.form-control.is-invalid ~ .invalid-feedback {
  display: block;
}

textarea {
  resize: vertical;
}