<div class="register-container">
  <div class="form-box">
    <div class="icon">
      <i class="fas fa-user-plus"></i>
    </div>
    <h2>Join us!</h2>
    <p>Please fill the fields to sign-up Ultima network</p>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" formControlName="first_name" placeholder="First Name" required />
      </div>

      <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" formControlName="last_name" placeholder="Last Name" required />
      </div>

            <div class="input-group">
        <i class="fas fa-user"></i>
        <input type="text" formControlName="username" placeholder="username" required />
      </div>


      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input type="email" formControlName="email" placeholder="Email" required />
      </div>

      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" formControlName="password" placeholder="Password" required />
      </div>

      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" formControlName="confirmPassword" placeholder="Password Again" required />
      </div>

      <button type="submit" class="btn">SIGN UP</button>
    </form>

        <a routerLink="/login" class="login-link">Back To login</a>
  </div>
</div>